jax>=0.4.23
jaxlib>=0.4.23
orbax-checkpoint>=0.5.11
absl-py
array-record
aqtp
datasets
gcsfs
flax>=0.8.0
numpy
optax
protobuf==3.20.3
pylint
pytest
pyink
pre-commit
pytype
sentencepiece==0.1.97
transformers
git+https://github.com/mlperf/logging.git
jsonlines
